.outer{
  height:100%;
}
.around{
  height:100%;
  background-color:yellow;
}
.header{
  margin-top:75px;
  background-color:blue;
  height:200px;
  border:1px solid black;
}
.nav{
  background-color:green;
  height:75px;
  border:1px solid black;
}
.content{
  background-color:red;
  height:285px;
  border:1px solid black;
}
.aside{
  background-color:aqua;
  height:285px;
  border:1px solid black;
}
.promo{
  background-color:orange;
  height:200px;
  border:1px solid black;
}
.footer{
  background-color:black;
  height:75px;
  margin-bottom:50px;
  border:1px solid black;
}
